#root {
  margin: 0em;
  width: 100vw;
  height: 100vh;
  padding: 0rem;
  text-align: center;
  font-family: "Mudi", sans-serif;
  background: linear-gradient(to right, #1d4566 0%, #12748a 100%);
}

html,
body {
  overflow-x: hidden;
}
